





@model SwissMoteWebsite.Models.Project



@{
    Layout = null;
}













<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Meta setup -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="decription" content="">


    <!-- Title -->
    <title>Welcome</title>

    <!-- Fav Icon -->
    <link rel="icon" href="~/updatev2/images/favicon.ico" />

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="~/updatev2/css/bootstrap.css" />

    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="~/updatev2/style.css" />

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/updatev2/css/responsive.css" />

</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- main-wrapper start -->
    @*<main class="main-wrapper">
        <div class="row no-gutters">*@
    <div class="row">

            <div class="col-lg-2 main-left-col d-none d-lg-block">
                <div class="main-left-part">
                    <div class="logo">
                        <a href="#">
                            <img src="~/updatev2/images/logo.svg" alt="">
                        </a>
                    </div>
                    <ul>
                        @*<li>
                                <a href="#">
                                    <img src="~/updatev2/images/icon-1.svg" alt="">
                                    Timer
                                </a>
                            </li>*@
                        <li>
                            <a href="#" id="active">
                                <img src="~/updatev2/images/icon-2.svg" alt="">
                                Projects
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/updatev2/images/icon-3.svg" alt="">
                                Teams
                            </a>
                        </li>
                        @*<li>
                                <a href="#">
                                    <img src="~/updatev2/images/icon-4.svg" alt="">
                                    Tasks
                                </a>
                            </li>*@
                        <li>
                            <a href="#">
                                <img src="~/updatev2/images/icon-5.svg" alt="">
                                Insights
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/updatev2/images/icon-6.svg" alt="">
                                invoices
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/updatev2/images/icon-7.svg" alt="">
                                Settings
                            </a>
                        </li>
                        @*<li>
                                <a href="#">
                                    <img src="~/updatev2/images/icon-8.svg" alt="">
                                    Help
                                </a>
                            </li>*@
                    </ul>
                </div>
            </div>

            <div class="col-lg-10 main-right-col">
                <div class="main-right-part">
                    <!--<div class="header-main">
                        <div class="header-part">
                            <div class="hamburger-button d-lg-none">
                                <button class="hamburger hamburger--squeeze" type="button" data-offcanvas-open="my-navigation">-->
                                    @*<span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>*@
                                <!--</button>
                            </div>-->
                            @*<div class="header-cnt">
                                <h4>Projects</h4>
                                <a href="/project/create"><img src="~/updatev2/images/plus.svg" alt=""> New Project</a>
                            </div>*@
                        <!--</div>
                    </div>-->
                    <!-- sub-pages start -->
                    <div class="main-content-part">
                      


                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>Project</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CreatedByUserName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.CreatedByUserName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CreatedByUserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CreatedByUserId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.CreatedByUserId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CreatedByUserId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CreationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CreationDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Invited_Email_UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Invited_Email_UserName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Invited_Email_UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Invited_UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Invited_UserId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Invited_UserId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InvitationSentDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.InvitationSentDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.InvitationSentDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InvitationAcceptedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.InvitationAcceptedDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.InvitationAcceptedDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.invitedrole, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EnumDropDownListFor(model => model.invitedrole, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.invitedrole, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.invitationstatus, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EnumDropDownListFor(model => model.invitationstatus, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.invitationstatus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UniqueId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UniqueId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UniqueId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IsOn, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.IsOn)
                                                @Html.ValidationMessageFor(model => model.IsOn, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TeamId, "TeamId", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("TeamId", ViewBag.TeamId as List<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.TeamId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }



                       
                    </div>
                    <!-- sub-pages end -->
                </div>
            </div>
        </div>
    </main>
    <!-- main-wrapper end -->
    <!-- side-bar start -->




    <div id="my-navigation" class="offcanvas d-lg-none">
        <div class="mobile-menu-wrap">
            <div class="main-left-part">
                <div class="logo">
                    <a href="#">
                        <img src="~/updatev2/images/logo.svg" alt="">
                    </a>
                    <i class="close-icon" data-offcanvas-close="my-navigation"></i>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-1.svg" alt="">
                            Timer
                        </a>
                    </li>
                    <li>
                        <a href="#" id="active">
                            <img src="~/updatev2/images/icon-2.svg" alt="">
                            Projects
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-3.svg" alt="">
                            Teams
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-4.svg" alt="">
                            Tasks
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-5.svg" alt="">
                            Insights
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-6.svg" alt="">
                            invoices
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-7.svg" alt="">
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/updatev2/images/icon-8.svg" alt="">
                            Help
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- side-bar end -->
    <!-- Main jQuery -->
    <script src="~/updatev2/js/jquery-3.4.1.min.js"></script>

    <!-- Bootstrap Propper jQuery -->
    <script src="~/updatev2/js/popper.js"></script>

    <!-- Bootstrap jQuery -->
    <script src="~/updatev2/js/bootstrap.js"></script>

    <!-- Fontawesome Script -->
    <script src="https://kit.fontawesome.com/7749c9f08a.js"></script>

    <!-- iptools-offcanvas jQuery -->
    <script src="~/updatev2/js/iptools-offcanvas.js"></script>

    <!-- Custom jQuery -->
    <script src="~/updatev2/js/scripts.js"></script>

</body>
</html>
