@model SwissMoteWebsite.Models.Team

@{
    ViewBag.Title = "Delete";

    Layout = "~/Views/Shared/FigmaMaster.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.TeamCreatedByUserId)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.TeamCreatedByUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.TeamMember)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.TeamMember)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.TeamInsights)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.TeamInsights)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.MemberInsights)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.MemberInsights)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.MemberHourlyRate)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.MemberHourlyRate)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.TeamStatus)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.TeamStatus)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.MemberStatus)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.MemberStatus)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.MemberChatKey)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.MemberChatKey)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to Team", "Index")
        </div>
    }
</div>
