
@model SwissMoteWebsite.Models.Team



@{
ViewBag.Title = "Invite Member";
}


<br />
<br />

<div class="row">

<div class="col-md-4">

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div>
@Html.ActionLink("Back to Projects", "Index")
</div>

</div>

<div class="col-md-4">

<br />
<br />
<br />

<div style="width:700px; padding:5px; background-color:white;">
@using (Html.BeginForm("InviteMore", "Team", FormMethod.Post))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary(true) 


  






<table id="dataTable" border="0" cellpadding="0" cellspacing="0">


@*<tr>
<th>Project Name</th>
<th>Note (Optional)</th>

</tr>*@




<tbody>
    <tr style="border:1px solid black" id="trid">
        <td id="proid">@Html.TextBoxFor(a => a.TeamName, new { @class = "form-control", @readonly = "true" })</td>
        <td id="noteid">@Html.HiddenFor(a => a.ClientName, new { @class = "form-control", @readonly = "true" })</td>

        <td id="emailid">@Html.TextBoxFor(a => a.TeamMember, new { placeholder = "Invited Username Here", @class = "form-input" })</td>

        <td id="emailid">@Html.TextBoxFor(a => a.MemberHourlyRate, new { placeholder = "Hourly Rate", @class = "form-input" })</td>


        <td id="noteid">@Html.HiddenFor(a => a.TeamUniqueId, new { @class = "form-control", @readonly = "true" })</td>

        <td id="noteid">@Html.HiddenFor(a => a.TeamCreatedByUserId, new { @class = "form-control", @readonly = "true" })</td>

        <td id="noteid">@Html.HiddenFor(a => a.MemberStatus, new { @class = "form-control", @readonly = "true" })</td>

        <td id="noteid">@Html.HiddenFor(a => a.MemberInsights, new { @class = "form-control", @readonly = "true" })</td>

        <td id="noteid">@Html.HiddenFor(a => a.TeamStatus, new { @class = "form-control", @readonly = "true" })</td>

        <td id="noteid">@Html.HiddenFor(a => a.TeamInsights, new { @class = "form-control", @readonly = "true" })</td>



    </tr>
</tbody>





</table> @*<input type="submit" value="Invite" />*@
<br />

<div class="form-group">
<div class="col-md-offset-2 col-md-10">
    <input type="submit" value="Invite More" class="btn btn-success" style="width:200px" />
</div>
</div>            }
</div>



</div>

</div>





